<%= form_with(model: Impression.new, url: impressions_path) do |f|%>
    <%= f.submit '感想を保存する', class: 'submit_btn_small' %>
    <%= f.text_area :impression, class: 'input_area' %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :book_id, value: @book.id%>
    <p id="counter">0文字</p>
    <%= f.file_field :impression_img, accept: ".jpg,.gif,.png,image/gif,image/jpeg,image/png"%>


    <p id="star"></p>
    <%= 'おはようございます。
今日も一日元気に頑張りましょう。
aj;dalj;lkj;lkjsd;kaj;fjkda;jf;lakjf;lkja;lkjflkajlkfjalkdj;afj
コロナウイルスが怖いので、あまり人混みの多いところには行かないほうがいいですね。
通勤される方はマスクを活用し、こまめに消毒することが大切です。
どちらもarimasenn1
'.encode("EUC-JP").bytesize %>
<input type="button" name="btn-upload" id="btn-upload" value="ファイルを選択" onclick ="return clickUploadButton()" />  
<% end %>

<input type="text" id="letters_count" val="">

<script>
// 画像アップロード用ボタンをクリック
function clickUploadButton() {
      $("#impression_impression_img").click();
      return false;
};





// 星で評価を表現する。
$('#star').raty({
    size    : 36,
    starOff : '<%= asset_path('star-off.png') %>',
    starOn  : '<%= asset_path('star-on.png') %>',
    score   : '<%= @book.evaluation %>'
});

$(function(){
    $("#impression_impression").on("keyup", function() {
        let countNum = String($(this).val().length);
        $("#counter").text(countNum + "文字");
        let impression = String($(this).val());
        $('#letters_count').val(impression);
    });
});



</script>


