<%= form_with(model: Impression.new, url: impressions_path) do |f|%>
    <%= f.text_area :impression, class: 'input_area', onclick: "textAreaHeightSet(this)", onfocus: "colorReset(this)", oninput: "textAreaHeightSet(this)", onchange: "textAreaHeightSet(this)"%>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :book_id, value: @book.id%>
    <%= f.hidden_field :tweet_content, value: "" %>
    <div class="impression_sub_info">
        <p id="star"></p>
        <p id="letter_count_alart"></p>
    </div>
    <div>
        <div class="impression_buttons">
            <div class="impression_img_button">
                <%= image_tag 'picture.svg', class: 'select_picture', onclick:"return clickUploadButton()" %>
                <%= f.file_field :impression_img, accept: ".jpg,.gif,.png,image/gif,image/jpeg,image/png,pgf"%>
            </div>
            <div class="impression_submit_button">
                <%= f.submit '感想を保存する', class: 'submit_btn_small impression_save_button' %>
            </div>
        </div>
    </div>
    <input type="hidden" id="byte_count" value="">
<% end %>
    <img id="impression_img_preview" class="impression_img_preview">

<script>
// 星で評価を表現する。
$('#star').raty({
    size    : 36,
    starOff : '<%= asset_path('star-off.png') %>',
    starOn  : '<%= asset_path('star-on.png') %>',
    score   : '<%= @book.evaluation %>'
});

// 画像アップロード用ボタンをクリック
function clickUploadButton() {
    $("#impression_impression_img").click();
    return false;
};

// 文字数カウント
$(function(){
    $("#impression_impression").keyup(function() {
        var count_target = $('#impression_impression').val();
        var result = 0;
        var tweet_content = '';
        var letter_count = 0;
        var remaining_letter = 0;
        for(var i=0;i<count_target.length;i++){
          var chr = count_target.charCodeAt(i);
          if((chr >= 0x00 && chr < 0x81) ||
             (chr === 0xf8f0) ||
             (chr >= 0xff61 && chr < 0xffa0) ||
             (chr >= 0xf8f1 && chr < 0xf8f4) ||
             (chr >= 0xD800 && chr <= 0xDBFF) || // サロゲートペア上位部分
             (chr >= 0xDC00 && chr <= 0xDFFF)    // サロゲートペア下位部分
             ){
            //半角文字の場合は1を加算
            result += 1;
          }else{
            //それ以外の文字の場合は2を加算
            result += 2;
          }
          if ((result <= 255) || (result == 255 && (chr >= 0xDC00 && chr <= 0xDFFF))) {
            // twitter投稿可能な分だけ別途保存用
            tweet_content = tweet_content + count_target[i];
          }
        }
        // 文字数アラートを表示
        letter_count = Math.ceil(result/2);
        remaining_letter = 128 - letter_count;
        // バイト数によって背景色を変える。
        if (result <= 214) {
            $('#impression_impression').css('background-color', '#EAF8FF'); // 背景色水色
            $('#letter_count_alart').text('　');
        } else if (result <= 255){
            $('#impression_impression').css('background-color', '#EAF8FF'); // 背景色水色 
            $('#letter_count_alart').show();
            $('#letter_count_alart').text('あと' + remaining_letter + '文字までTwitterに投稿できるよ');
        } else {
            $('#impression_impression').css('background-color', '#FCEAFF'); // 背景色ピンク色
            $('#letter_count_alart').show();
            $('#letter_count_alart').text('後半の一部は、Twitter投稿時に非表示になるよ');
        }
            $('#impression_tweet_content').val(tweet_content);
    });
});

// 画像を選択したらすぐに表示する。
$('#impression_impression_img').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#impression_img_preview").attr('src', e.target.result);
    }
    reader.readAsDataURL(e.target.files[0]);
});
</script>