<%= form_with(model: Impression.new, url: impressions_path) do |f|%>
    <%= f.text_area :impression, class: 'input_area', onclick: "textAreaHeightSet(this)", onfocus: "colorReset(this)", oninput: "textAreaHeightSet(this)", onchange: "textAreaHeightSet(this)"%>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :book_id, value: @book.id%>
    <div class="impression_sub_info">
        <p id="star"></p>
    </div>
    <div>
    <p class="impression_submit_button">
        <%= image_tag 'picture.svg', class: 'select_picture', onclick:"return clickUploadButton()" %>
        <%= f.file_field :impression_img, accept: ".jpg,.gif,.png,image/gif,image/jpeg,image/png,pgf"%>
        <!-- <p id="counter" class="letter_counter">0文字</p> -->
        <%= f.submit '感想を保存する', class: 'submit_btn_small impression_save_button' %>
    </p>
        
    </div>

<input type="hidden" id="byte_count" value="">
    <%#= 'おはようございます。
今日も一日元気に頑張りましょう。
aj;dalj;lkj;lkjsd;kaj;fjkda;jf;lakjf;lkja;lkjflkajlkfjalkdj;afj
コロナウイルスが怖いので、あまり人混みの多いところには行かないほうがいいですね。
通勤される方はマスクを活用し、こまめに消毒することが大切です。
どちらもarimasenn1
'.encode("EUC-JP").bytesize %>
<% end %>
    <img id="impression_img_preview" class="impression_img_preview">

<script>
// 画像アップロード用ボタンをクリック
function clickUploadButton() {
      $("#impression_impression_img").click();
      return false;
};

// 星で評価を表現する。
$('#star').raty({
    size    : 36,
    starOff : '<%= asset_path('star-off.png') %>',
    starOn  : '<%= asset_path('star-on.png') %>',
    score   : '<%= @book.evaluation %>'
});

$(function(){
    $("#impression_impression").on("keyup", function() {
        let countNum = String($(this).val().length);
        $("#counter").text(countNum + "文字");
        let impression = String($(this).val());
        $('#letters_count').val(impression);
    });
});

$('#impression_impression_img').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#impression_img_preview").attr('src', e.target.result);
    }
    reader.readAsDataURL(e.target.files[0]);
});
</script>