<div class="book_info">
    <div class="book_info_inner">
        <div class="book_img_area">
            <a href="" id="thumbnail"></a>
            <%#= link_to image_tag('book_img.svg', alt:'本の画像', class:'book_img'), bookinfo_path, class: 'button' %>
        </div>
        <input type="hidden" id="isbn" value="<%= @book.isbn %>">
        <table>
            <tr>
                <th>タイトル</th>
                <td id="title"></td>
            </tr>
            <tr>
                <th>登録日</th>
                <td><%= @book.created_at.strftime('%Y年 %m月 %d日') %></td>
            </tr>
            <tr>
                <th>読み始め</th>
                <td><% if @book.reading_start_date %>
                        <%= @book.reading_start_date.strftime('%Y年 %m月 %d日') %>
                    <% end %>
                    </td>
            </tr>
            <tr>
                <th>読了日</th>
                <td>
                    <% if @book.reading_start_date %>
                        <%= @book.reading_start_date.strftime('%Y年 %m月 %d日') %>
                    <% end %>
                </td>
            </tr>
            <tr>
                <th>評価</th>
                <td id="star">
                    <% if !@impression %>
                        まだ評価していません。
                    <% end %>
                </td>

            </tr>
        </table>
    </div>
    <% if @book.user_id == current_user.id %>
        <div>
            <%= form_with(model: @impression, url:impression_add_impression_field_path) do |f| %>
                <%= f.hidden_field :book_id, value: @book.id %>
                <%= f.submit '感想を書く', id: 'submit_btn' %>
            <% end %>
        </div>
        <div id="impression">
        </div>
        <div>
            <p>つぶやく</p>
        </div>
        <% @impressions.each do |impression| %>
            <p id="impression_<%= impression.id %>">
                <%= impression.impression %>
            </p>
            <p><%= impression.updated_at.strftime('%Y年 %m月 %d日') %></p>
        <% end %>

</div>
<div>
    <p>感想</p>
    <p>画像</p>
</div>
    <% end %>

<%= javascript_pack_tag 'raty', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'impression', 'data-turbolinks-track': 'reload' %>

<script>
$(document).on('turbolinks:load', function() {
    const isbn = $("#isbn").val();
    const url = "https://api.openbd.jp/v1/get?isbn=" + isbn;
    $.getJSON(url, function(data) {
        if (data[0] == null) {
        } else {
            if (data[0].summary.cover == "") {
                $("#thumbnail").html('<img src=\"/assets/images/book_img.svg\" />');
            } else {
                $("#thumbnail").html('<img src=\"' + data[0].summary.cover + '\" style=\"border:solid 1px #000000\" />');
            }
            $("#title").text(data[0].summary.title);
        }
    });
 $(function(){
     $('#star').raty({
         size    : 36,
         starOff : '<%= asset_path('star-off.png') %>',
         starOn  : '<%= asset_path('star-on.png') %>',
         score   : '0'
     });
 });
});
</script>





