<%= javascript_pack_tag 'raty', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'impression', 'data-turbolinks-track': 'reload' %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<div class="book_info">
    <% if !signed_in? %>
        <%= render "shared/sign_in_link" %>
            <a href="/users/<%= @book_owner.id %>">
                <%= image_tag @book_owner.image, class: 'user_icon', alt:'ユーザーアイコン' %>
            </a>
            <%= @book_owner.name %>&nbsp;さんの感想
    <% end %>
    <% if signed_in? && @book.user_id != current_user.id %>
        <a href="/users/<%= @book_owner.id %>">
            <%= image_tag @book_owner.image, class: 'user_icon', alt:'ユーザーアイコン' %>
        </a>
        <%= @book_owner.name %>&nbsp;さんの感想
    <% end %>

    <p id="title" class="book_title">「<%= @book.title %>」</p>

    <div class="book_info_inner">
        <div class="book_img_area">
            <a href="/books/info/<%= @book.api_id %>" id="thumbnail">
                <% if @book.thumbnail %>
                <%= image_tag @book.thumbnail %>
                <% else %>
                <%= image_tag('book_img.svg', alt:'本の画像', class:'book_img') %>
                <% end %>
            </a>
        </div>
        <table>
            <tr>
                <th align="right">登録日：</th>
                <td>
                    <%= @book.created_at.strftime('%Y/%-m/%-d') %>
                </td>
            </tr>
            <tr>
                <th align="right">
                    <%= form_with(model: @book, url:books_show_reading_date_path) do |f| %>
                    <input type="hidden" name="now_date" value=<%=@book.reading_start_date %> >
                    <input type="hidden" name="calendar" value="reading_start_date">
                    <input type="hidden" name="book_id" value="<%= @book.id %> " />
                    <% if signed_in? && @book.user_id === current_user.id %>
                    <%= f.submit '読始め：' %>
                    <% else %>
                    読始め
                    <% end %>
                    <% end %>
                </th>
                <td id="reading_start_date">
                    <% if @book.reading_start_date %>
                    <%= @book.reading_start_date.strftime('%Y/%-m/%-d') %>
                    <% end %>
                </td>
            </tr>
            <tr>
                <th align="right">
                    <%= form_with(model: @book, url:books_show_reading_date_path) do |f| %>
                    <input type="hidden" name="now_date" value=<%=@book.reading_end_date %> >
                    <input type="hidden" name="calendar" value="reading_end_date">
                    <input type="hidden" name="book_id" value="<%= @book.id %> " />
                    <% if signed_in? && @book.user_id === current_user.id %>
                    <%= f.submit '読了日：' %>
                    <% else %>
                    読了日
                    <% end %>
                    <% end %>
                </th>
                <td id="reading_end_date">
                    <% if @book.reading_end_date %>
                    <%= @book.reading_end_date.strftime('%Y/%-m/%-d') %>
                    <% end %>
                </td>
            </tr>
            <tr>
                <th align="right">評価：</th>
                <td id="evaluation">
                    <% if @book.evaluation == nil%>
                    まだ評価していません。
                    <% end %>
                </td>
            </tr>
        </table>
    </div>
<%# ユーザーが感想を書いたユーザーか閲覧のユーザーかで表示を分ける。編集、ツイートをする。 %>
    <% if signed_in? && @book.user_id === current_user.id %>
        <div>
            <%= form_with(model: @impression, url:impressions_add_impression_field_path) do |f| %>
            <%= f.hidden_field :book_id, value: @book.id %>
            <%= f.submit '感想を書く', id: 'submit_btn_small', class: 'submit_btn_small' %>
            <% end %>
        </div>
<%# 感想記入フィールド表示場所 %>
        <div id="impression"></div>
            <% @impressions.each do |impression| %>
                <div class="information_block">
                    <div class="impression_head">
<%# 感想テキスト %>
                        <div class="impression_text">
                            <%= form_with model:impression, url: impression_path(impression.id) do |f| %>
                                <input type="hidden" id="authenticity_token_impression" name="authenticity_token" value="<%= form_authenticity_token %>" >
                                <textarea id="impression_edit_<%= impression.id %>" class= "impression_write_area" onclick="textAreaHeightSet(this)"
                                        onfocus="colorReset(this)" 
                                        oninput="textAreaHeightSet(this)"
                                        onchange="textAreaHeightSet(this)"><%= impression.impression %></textarea>
                            <% end %>
                        </div>
<%# 感想削除ボタン %>
                        <%= form_with(model: @impression, url: impression_path) do |form| %>
                            <input type="hidden" id="authenticity_token_destroy" name="authenticity_token" value="<%= form_authenticity_token %>" >
                            <%= image_tag "fire_work.svg", class: "fire_work", id: "destroy_impression_#{impression.id}" %>
                        <% end %>
                    </div>

                    <% if impression.impression_img_url%>
                        <%= link_to impression.impression_img_url,'data-lightbox': impression.impression_img_url, target: "_blank" do %>
                            <%= image_tag impression.impression_img_url , width: 200 %>
                        <% end %>
                    <% end %>
                    <div class="impression_sub_item">
<%# 感想更新時間 %>
                        <p class="impression_time"><%= impression.updated_at.strftime('%Y/%-m/%-d %H:%M') %></p>
                    </div>
<%# ツイッター投稿ボタン %>
                    <% if !impression.tweeted_flg %>
                        <%= form_with(model: @impression, url: impressions_post_to_twitter_path) do |form| %>
                            <%= form.hidden_field :impression, value: impression.impression, id: "impression_#{impression.id}" %>
                            <input type="hidden" id="authenticity_token_tweet_<%= impression.id %>" name="authenticity_token" value="<%= form_authenticity_token %>" >
                            <%= form.hidden_field :id, value: impression.id ,id: impression.id %>
                            <%#= image_tag "Twitter_Social_Icon_Rounded.png", class: "twitter_button send_tweet" %>
<!--                         <div class="twitter_button send_tweet"><%#= image_tag "Twitter_Social_Icon_Rounded.png" %><p>つぶやく<p></div>
 -->                            
                            <%= image_tag "tweet_button.png", class: "tweet_button", id: "send_tweet_#{impression.id}" %>
                        <% end %>
                    <% end %>
                </div>
            <% end %>
    <%# この感想を書いたユーザーではない場合か、ログインしていない場合は閲覧のみ %>
    <% else %>
        <% @impressions.each do |impression| %>
            <%= impression.impression %>
            <p>
                <% if impression.impression_img_url%>
                    <%= link_to impression.impression_img_url,'data-lightbox': impression.impression_img_url do %>
                        <%= image_tag impression.impression_img_url , width: 100 %>
                    <% end %>
                <% end %>
            </p>
            <p class="impression_time"><%= impression.updated_at.strftime('%Y/%-m/%-d %H:%M') %></p>
        <% end %>
    <% end %>
</div>

<script>
$(document).on('turbolinks:load', function() {
    <% if @book.evaluation %> // 評価されていないときは星を表示しない
        $('#evaluation').raty({
            size    : 36,
            starOff : '<%= asset_path('star-off.png') %>',
            starOn  : '<%= asset_path('star-on.png') %>',
            // starHalf: '<%#= asset_path('star-half.png') %>',
            score   : '<%= @book.evaluation %>',
            readOnly: true
        });
    <% end %>

    <% @impressions.each do |impression| %>
        // 感想を編集したら自動的に保存する。
        $('#impression_edit_<%= impression.id %>').change(function(){
            var impression = $('#impression_edit_<%= impression.id %>').val();
          $.ajax({
            url:  "<%= impression_path(impression.id) %>",
            type: 'patch',
            data: { impression: impression,
                   authenticity_token: $("#authenticity_token_impression").val()
             }
          });
        });
        // ツイッター似投稿する
        $('#send_tweet_<%= impression.id %>').click(function() {
            Swal.fire({
              title: '',
              text: "ツイッターに投稿しますか？",
              type: 'question',
              showCancelButton: true,
              confirmButtonText: 'おっけー',
              cancelButtonText: 'やめる'
            }).then((result) => {
              if (result.value) {
                var impression = $('#impression_edit_<%= impression.id %>').val();
                $.ajax({
                    url:  "<%= impressions_post_to_twitter_path %>",
                    type: 'post',
                    data: { impression: impression,
                            id: <%= impression.id %>,
                            authenticity_token: $("#authenticity_token_tweet_<%= impression.id %>").val()
                        }
                    });
              }
            });
        });
        // 感想を削除する
        $('#destroy_impression_<%= impression.id %>').click(function() {
            Swal.fire({
              title: '',
              text: "感想を削除しますか？",
              type: 'question',
              showCancelButton: true,
              confirmButtonText: 'おっけー',
              cancelButtonText: 'やめる'
            }).then((result) => {
              if (result.value) {
                $.ajax({
                    url:  "<%= impression_path(impression.id) %>",
                    type: 'delete',
                    data: { authenticity_token: $("#authenticity_token_destroy").val()
                        }
                    });
              }
            });
        });
    <% end %>

});

function colorReset(argObj){
 // ==============================================
 // フォーカス時の背景色リセット
 // ==============================================
    argObj.style.backgroundColor = "";
}

function textAreaHeightSet(argObj){
 // ==============================================
 // フォーカス時の背景色リセット
 // ==============================================
  // 一旦テキストエリアを小さくしてスクロールバー（縦の長さを取得）
  argObj.style.height = "10px";
  var wSclollHeight = parseInt(argObj.scrollHeight);
  // 1行の長さを取得する
  var wLineH = parseInt(argObj.style.lineHeight.replace(/px/, ''));
  // 最低2行の表示エリアにする
  if(wSclollHeight < (wLineH * 2)){wSclollHeight=(wLineH * 2);}
  // テキストエリアの高さを設定する
  argObj.style.height = wSclollHeight + "px";
}


</script>

 

