<%= javascript_pack_tag 'raty', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'impression', 'data-turbolinks-track': 'reload' %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<div class="book_info">
    <div class="book_info_inner">
        <div class="book_img_area">
            <a href="/books/info/<%= @api_data["selfLink"] %>" id="thumbnail">
                <% if @api_data["volumeInfo"]['imageLinks']['thumbnail'] %>
                    <%= image_tag @api_data["volumeInfo"]['imageLinks']['thumbnail'] %>
                <% else %>
                    <%= image_tag('book_img.svg', alt:'本の画像', class:'book_img') %>
                <% end %>
            </a>

        </div>
        <input type="hidden" id="api_path" value="<%= @book.api_path %>">
        <table>
            <tr>
                <th>タイトル</th>
                <td id="title"><%= @api_data["volumeInfo"]["title"] %></td>
            </tr>
            <tr>
                <th>登録日</th>
                <td><%= @book.created_at.strftime('%Y/%-m/%-d') %></td>
            </tr>
            <tr>
                <th>
                    <%= form_with(model: @book, url:books_show_reading_date_path) do |f| %>
                        <input type="hidden" name="now_date" value= <%= @book.reading_start_date %> >
                        <input type="hidden" name="calendar" value="reading_start_date">
                        <input type="hidden" name="book_id" value="<%= @book.id %> "/>
                        <%= f.submit '読始め' %>
                    <% end %>
                </th>
                <td id="reading_start_date">
                    <% if @book.reading_start_date %>
                        <%= @book.reading_start_date.strftime('%Y/%-m/%-d') %>
                    <% end %>
                </td>
            </tr>
            <tr>
                <th>
                    <%= form_with(model: @book, url:books_show_reading_date_path) do |f| %>
                        <input type="hidden" name="now_date" value= <%= @book.reading_end_date %> >
                        <input type="hidden" name="calendar" value="reading_end_date">
                        <input type="hidden" name="book_id" value="<%= @book.id %> "/>
                        <%= f.submit '読了日' %>
                    <% end %>
                </th>
                <td id="reading_end_date">
                    <% if @book.reading_end_date %>
                        <%= @book.reading_end_date.strftime('%Y/%-m/%-d') %>
                    <% end %>
                </td>
            </tr>
            <tr>
                <th>評価</th>
                <td id="evaluation">
                    <% if @book.evaluation == nil%>
                        まだ評価していません。
                    <% end %>
                </td>
            </tr>
        </table>
    </div>
    <% if @book.user_id === current_user.id %>
        <div>
            <%= form_with(model: @impression, url:impressions_add_impression_field_path) do |f| %>
                <%= f.hidden_field :book_id, value: @book.id %>
                <%= f.submit '感想を書く', id: 'submit_btn_small', class: 'submit_btn_small' %>
            <% end %>
        </div>
        <div id="impression">
        </div>
        <% @impressions.each do |impression| %>
            <div class="information_block">
                <textarea id="impression_edit_<%= impression.id %>" class= "input_area"><%= impression.impression %></textarea>
                <p>
                    <% if impression.impression_img_url%>
                        <%= link_to impression.impression_img_url,'data-lightbox': impression.impression_img_url do %>
                            <%= image_tag impression.impression_img_url , width: 200 %>
                        <% end %>
                    <% end %>
                </p>
                <p class="impression_time"><%= impression.updated_at.strftime('%Y/%-m/%-d %H:%M') %></p>
                <% if !impression.tweeted_flg %>
                    <%= form_with(model: @impression, url: impressions_post_to_twitter_path) do |form| %>
                        <%= form.hidden_field :impression, value: impression.impression %>
                        <%= form.hidden_field :id, value: impression.id %>
                        <button class="twitter_button impression_tweet_button">つぶやく</button>
                    <% end %>
                <% end %>
            </div>
        <% end %>
    <% else %>
        <% @impressions.each do |impression| %>
                <%= impression.impression %>
            <p>
                <% if impression.impression_img_url%>
                    <%= link_to impression.impression_img_url,'data-lightbox': impression.impression_img_url do %>
                        <%= image_tag impression.impression_img_url , width: 200 %>
                    <% end %>
                <% end %>
            </p>
            <p><%= impression.updated_at.strftime('%Y/%-m/%-d %H:%M') %></p>
        <% end %>
    <% end %>

</div>

<script>
$(document).on('turbolinks:load', function() {
    <% if @book.evaluation %> // 評価されていないときは星を表示しない
        $('#evaluation').raty({
            size    : 36,
            starOff : '<%= asset_path('star-off.png') %>',
            starOn  : '<%= asset_path('star-on.png') %>',
            // starHalf: '<%#= asset_path('star-half.png') %>',
            score   : '<%= @book.evaluation %>',
            readOnly: true
        });
    <% end %>

    <% @impressions.each do |impression| %>
        // 感想を編集したら自動的に保存する。
        $('#impression_edit_<%= impression.id %>').change(function(){
            var impression = $('#impression_edit_<%= impression.id %>').val();
          $.ajax({
            url:  "<%= impression_path(impression.id) %>",
            type: 'patch',
            data: { impression: impression,
                   authenticity_token: $("input[name='authenticity_token']").val()
             }
          });
       });
    <% end %>
});

$('.twitter_button').click(function() {
  Swal.fire({
    text: "ツイッターに投稿しますか？？",
    type: 'info',
    // showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'OK'
  }).then((result) => {
    if (result.value) {
      Swal.fire(
        '',
        'ツイートしておきました！',
        'success'
        );
    }
  });
});

</script>

 

