<%# 遅延読み込みのためのスクリプト %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/lazysizes.min.js' %>
<div id="shelf_header">
    <input type="hidden" id="current_shelf_id" value="<%= @user_setting.latest_shelf %>">
    <div id="shelf_buttons" class="shelf_buttons">
        <div class="arrange_shelf">
            <div>
                <button id="show_shelf_arrange_ico" class="submit_btn_small">本棚を整理</button>
                <button id="hide_shelf_arrange_ico" class="submit_btn_small hide_shelf_side_ico">整理終了</button>
            </div>
            <div>
                 <button id="add_shelf" class="submit_btn_small">本棚を追加</button>
            </div>
            <a href="/change_shelf_type/<%= @user_setting.shelf_type %>" class="book_type_icon">
                <% if @user_setting.shelf_type == 0 %>
                <%= lazysizes_image_tag 'shelf_type_block' %>
                <% elsif @user_setting.shelf_type == 1 %>
                <%= lazysizes_image_tag 'shelf_type_column' %>
                <% end %>
            </a>
        </div>
        <div id="search_book_button">
            <button class="submit_btn_small">本を探す</button>
        </div>
    </div>
    <div class="search_button">
        <%= form_with(url: books_search_path ) do |f| %>
        <div class="search_book_keyword_area">
            <%= f.text_field :keyword, placeholder: 'キーワード', class: "search_book_keyword_input_area"%>
            <button class="submit_btn_small">検索する</button>
        </div>
        <% end %>
    </div>
    <div class="scan_book_button">
        <button id="search_by_isbn" class="submit_btn_small">本のバーコードをスキャン</button>
        <%= form_with url:"/books/search_by_isbn/" do |f| %>
            <%= f.file_field :book_isbn_area, accept: ".jpg,.gif,.png,image/gif,image/jpeg,image/png,pgf", style: "display:none;" %>
            <%# 送信用ボタン（ajaxでクリックさせる） %>
            <button id="send_isbn_picture"></button>
        <% end %>
    </div>
    <div id="search_book_form">
        <%# 検索結果表示場所 %>
    </div>
    <div class="shelf_area">
        <a href="/shelves/0" data-turbolinks="false">
            <p class="shelf_label <% if @user_setting.latest_shelf == 0 %>shelf_marker<% end %>" value="0" name="すべて">すべて</p>
        </a>
        <ul id="shelves_list" class="shelves_list">
            <% if @shelves %>
            <% @shelves.each do |shelf| %>
            <li class="shelf_label <% if @user_setting.latest_shelf == shelf.id %>shelf_marker<% end %>" value="<%= shelf.id %>" name="<%= shelf.shelf_name.truncate(12) %>">
                <a href="/shelves/<%= shelf.id %>" data-turbolinks="false"><%= shelf.shelf_name %></a>
                <p class="destroy_shelf shelf_modify_buttons">
                    <input type="hidden" value="<%= shelf.id %>">
                </p>
                <p class="shelf_handle shelf_modify_buttons">
                </p>
            </li>
            <% end %>
            <% end %>
        </ul>
    </div>
</div>