<%= render "shared/shelf_header" %>
    <%= form_with(model: @book, url: book_path(current_user.id)) do |form| %>
    <input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>" >
    <% end %>
<% if @books.present? %>
    <div class="page_wrapper">
        <%= @err %>
            <div id="books_in_shelf" <% if @user_setting.shelf_type == 1 %> class="shelf_type_block" <% end %> >
                <% @books.each do |book| %>
                    <% if @user_setting.shelf_type == 0 %>
                    <div class="book_img_box" id="book_id_<%= book.id %>" value="<%= book.id %>">
                        <a href="/books/info/<%= book.api_id %>" data-turbolinks="false">
                            <p class="thumbnail_top">
                                <% if book.users_thumbnail.present? %>
                                <%= lazysizes_image_tag book.users_thumbnail_url ,class: "book_img shelf_book", alt:'本の画像' %>
                                <% else %>
                                <%= lazysizes_image_tag book.thumbnail ,class: "book_img shelf_book", alt:'本の画像' %>
                                <% end %>
                            </p>
                        </a>
                        <a href="/impressions/<%= book.impression_link %>" class="shelf_link" data-turbolinks="false">
                            <div class="book_title" id="title_<%= book.id %>">
                                <%= book.title %>
                                <div class="book_count_info">
                                    <p class="book_count">
                                        <%= lazysizes_image_tag "star-on.png" %>
                                        <% if book.evaluation %>
                                            <%= book.evaluation %>
                                        <% else %>
                                        -
                                        <% end %>
                                    </p>
                                    <p class="book_count">
                                        <%= lazysizes_image_tag "impression.svg", class: "book_counter_icon" %>
                                        <%= impression_times(book.id) %>
                                    </p>
                                    <p class="book_count">
                                        <%= lazysizes_image_tag "Twitter_icon_circle.svg", class: "book_counter_icon" %>
                                        <%= tweet_times(book.id) %>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <input id="api_path_<%= book.id %>" type="hidden" name="api_path" value="<%= book.api_path %>" />
                        <div class="shelf_side_ico">
                            <%= lazysizes_image_tag "fire_work.svg", class: "fire_work"%>
                            <ul class="shelf_modal">
                              <li>▶「<%= book.title %>」 を移動</li>
                              <%= form_with(model: @shelf, url: shelves_path) do |f| %>
                                  <%= f.collection_select :shelf_id, Shelf.where(user_id: current_user.id).rank(:row_shelves_order), :id, :shelf_name, include_blank: "移動先の本棚を選択　　▼" %>
                                  <%= f.hidden_field :book_id, value: book.id %>
                              <% end %>
                              <li id="<%= book.id %>" class="destroy_book" value="<%= book.id %>">
                                  <button id="show_shelf_arrange_ico" class="submit_btn_small">本を削除</button>
                              </li>
                            </ul>
                            <p class="handle">
                                <%= lazysizes_image_tag 'dot_for_handle.svg' %>
                            </p>
                        </div>
                    </div>
    <%# 本棚タイプがブロックのとき %>
                    <% elsif @user_setting.shelf_type == 1 %>
                    <div id="book_id_<%= book.id %>" class="block_shelf_item" value="<%= book.id %>">
                        <div class="block_shelf_book_and_icon">
                            <a href="/impressions/<%= book.impression_link %>" class="shelf_link" data-turbolinks="false">
                                    <p class="thumbnail_block_shelf">
                                        <% if book.users_thumbnail.present? %>
                                            <%= lazysizes_image_tag book.users_thumbnail_url ,class: "shelf_book", alt:'本の画像' %>
                                        <% else %>
                                            <%= lazysizes_image_tag book.thumbnail ,class: " shelf_book", alt:'本の画像' %>
                                        <% end %>
                                    </p>
                            </a>
                            <div class="shelf_side_ico">
                                <%= lazysizes_image_tag "fire_work.svg", class: "fire_work"%>
                                <ul class="shelf_modal">
                                  <li>▶▶「<%= book.title %>」 を移動</li>
                                  <%= form_with(model: @shelf, url: shelves_path) do |f| %>
                                      <%= f.collection_select :shelf_id, Shelf.where(user_id: current_user.id).rank(:row_shelves_order), :id, :shelf_name, include_blank: "移動先の本棚を選択　　▼", class: 'select_shelf' %>
                                      <%= f.hidden_field :book_id, value: book.id %>
                                  <% end %>
                                  <li id="<%= book.id %>" class="destroy_book" value="<%= book.id %>">
                                      <button id="show_shelf_arrange_ico" class="submit_btn_small">本を削除</button>
                                  </li>
                                </ul>
                                <p class="handle">
                                    <%= lazysizes_image_tag 'dot_for_handle.svg' %>
                                </p>
                            </div>
                        </div>
                        <a href="/impressions/<%= book.impression_link %>" class="shelf_link" data-turbolinks="false">
                            <div class="book_count_info">
                                <p class="book_count">
                                    <%= lazysizes_image_tag "star-on.png" %>
                                    <% if book.evaluation %>
                                        <%= book.evaluation %>
                                    <% else %>
                                    -
                                    <% end %>
                                </p>
                                <p class="book_count">
                                    <%= lazysizes_image_tag "impression.svg", class: "book_counter_icon" %>
                                    <%= impression_times(book.id) %>
                                </p>
                                <p class="book_count">
                                    <%= lazysizes_image_tag "Twitter_icon_circle.svg", class: "book_counter_icon" %>
                                    <%= tweet_times(book.id) %>
                                </p>
                            </div>
                        </a>
                            <input id="api_path_<%= book.id %>" type="hidden" name="api_path" value="<%= book.api_path %>" />
                    </div>
                    <% end %>
        <%#= render "users/shelf_type_column" ←読み込むとエラーになる%> 
                <% end %>
            </div>
    </div>
<% else %>
    <p>本が登録されていません。</p>
<% end %>

<%= render "shared/barcode_scan_script" %> <%# バーコードによる本の検索スクリプト %>
