<%# 遅延読み込みのためのスクリプト %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/lazysizes.min.js' %>
<div id="shelf_buttons" class="shelf_buttons">
    <div class="arrange_shelf">
        <a href="/users/change_shelf_type/<%= @user_setting.shelf_type %>" class="book_type_icon">
            <% if @user_setting.shelf_type == 0 %>
                <%= lazysizes_image_tag 'shelf_type_block' %>
            <% elsif @user_setting.shelf_type == 1 %>
                <%= lazysizes_image_tag 'shelf_type_column' %>
            <% end %>
        </a>
        <div id="show_shelf_side_ico">
            <button class="submit_btn_small">本棚を整理</button>
        </div>
    </div>
    <div class="search_book_button">
        <a href="<%= books_show_form_path %>" data-remote="true">
            <button class="submit_btn_small">本をキーワードで探す</button>
        </a>
    </div>
    <div class="scan_book_button">
        <div style="display: none;">
            <canvas id="picture"></canvas>
            <input id="Take-Picture" type="file" accept="image/*;capture=camera" />
            <input type="hidden" name="" id="textbit" value="">
            <input type="hidden" id="barcode" value="">
        </div>
        <button class="submit_btn_small" onclick="clickBarcodeScanButton()">本のバーコードをスキャン</button>
    </div>
    <div id="search_book_button">
        <button class="submit_btn_small">本を探す</button>
    </div>
</div>
<%# 検索キーワード入力ボックスの設置場所 %>
<div id="search_book_form"></div>
<ul>
  <li>すべて</li>
  <% shelves.each do |shelf|%>
  <li>
    <%= shelf.name %>
  </li>
  <% end %>
</ul>
<%= form_with(model: @book, url: book_path(@books.ids)) do |form| %>
    <input type="hidden" id="authenticity_token_destroy" name="authenticity_token" value="<%= form_authenticity_token %>" >
<div class="page_wrapper">
    <%= @err %>
    <% if @books.present? %>
        <div id="books_in_shelf" <% if @user_setting.shelf_type == 1 %> class="shelf_type_block" <% end %> >
            <% @books.each do |book| %>
                <% if @user_setting.shelf_type == 0 %>
                <div class="book_img_box" id="<%= book.id %>" >
                    <a href="/books/info/<%= book.api_id %>" data-turbolinks="false">
                        <p class="thumbnail_top">
                            <% if book.users_thumbnail.present? %>
                            <%= lazysizes_image_tag book.users_thumbnail_url ,class: "book_img shelf_book", alt:'本の画像' %>
                            <% else %>
                            <%= lazysizes_image_tag book.thumbnail ,class: "book_img shelf_book", alt:'本の画像' %>
                            <% end %>
                        </p>
                    </a>
                    <a href="/impressions/<%= book.impression_link %>" class="shelf_link" data-turbolinks="false">
                        <div class="book_title" id="title_<%= book.id %>">
                            <%= book.title %>
                            <div class="book_count_info">
                                <p class="book_count">
                                    <%= lazysizes_image_tag "star-on.png" %>
                                    <% if book.evaluation %>
                                        <%= book.evaluation %>
                                    <% else %>
                                    -
                                    <% end %>
                                </p>
                                <% if book %>
                                <p class="book_count">
                                    <%#= lazysizes_image_tag "impression.svg", class: "book_counter_icon" %>
                                    
                                </p>
                                <p class="book_count">
                                    <%#= lazysizes_image_tag "Twitter_icon_circle.svg", class: "book_counter_icon" %>
                                    
                                </p>
                                <% end %>
                            </div>
                        </div>
                    </a>
                    <input id="api_path_<%= book.id %>" type="hidden" name="api_path" value="<%= book.api_path %>" />
                    <div class="shelf_side_ico">
                        <%= lazysizes_image_tag "fire_work.svg", class: "fire_work", id: "destroy_book_#{book.id}" %>
                        <p class="handle"><%= lazysizes_image_tag 'dot_for_handle.svg' %></p>
                    </div>
                </div>
<%# 本棚タイプがブロックのとき %>
                <% elsif @user_setting.shelf_type == 1 %>
                <div id="<%= book.id %>" class="block_shelf_item">
                    <div class="block_shelf_book_and_icon">
                        <a href="/books/info/<%= book.api_id %>" data-turbolinks="false">
                            <p class="thumbnail_block_shelf">
                                <% if book.users_thumbnail.present? %>
                                    <%= lazysizes_image_tag book.users_thumbnail_url ,class: " shelf_book", alt:'本の画像' %>
                                <% else %>
                                    <%= lazysizes_image_tag book.thumbnail ,class: " shelf_book", alt:'本の画像' %>
                                <% end %>
                            </p>
                        </a>
                        <div class="shelf_side_ico">
                            <%= lazysizes_image_tag "fire_work.svg", class: "fire_work", id: "destroy_book_#{book.id}" %>
                            <p class="handle">
                                <%= lazysizes_image_tag 'dot_for_handle.svg' %>
                            </p>
                        </div>
                    </div>
                    <a href="/impressions/<%= book.impression_link %>" class="shelf_link" data-turbolinks="false">
                            <div class="book_count_info">
                                <p class="book_count">
                                    <%= lazysizes_image_tag "star-on.png" %>
                                    <% if book.evaluation %>
                                        <%= book.evaluation %>
                                    <% else %>
                                    -
                                    <% end %>
                                </p>
                                <% if book %>
                                <p class="book_count">
                                    <%#= lazysizes_image_tag "impression.svg", class: "book_counter_icon" %>
                                    
                                </p>
                                <p class="book_count">
                                    <%#= lazysizes_image_tag "Twitter_icon_circle.svg", class: "book_counter_icon" %>
                                </p>
                                <% end %>
                            </div>
                    </a>
                    <input id="api_path_<%= book.id %>" type="hidden" name="api_path" value="<%= book.api_path %>" />
                </div>





                <% end %>
    <%#= render "users/shelf_type_column" ←読み込むとエラーになる%> 
            <% end %>
        </div>
    <% else %>
    <p>本が登録されていません。</p>
    <% end %>
</div>
<div id="shelf_view_area"></div>
<% end %>
<%# 本当はgemで読み込みたかったが以下のコードを消すと動かなくなるので、読み込めてないかもしれない。 %>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<%# スマホなどタッチアクションで動作するようにするscript %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>

<script>
$(document).on('turbolinks:load', function() {
// 本を並べ替える。
$('#books_in_shelf').sortable({
    scrollSpeed: 10,
    revert: 200,
    animation: 100,
    opacity: 0.8,
    handle: "p.handle",
    update: function(event, ui){
        var item = ui.item;
        var book_id = item.attr("id");
        var sort_url = "/books/"+ book_id +"/sort";
        var item_data = item.data();
        var params = { _mesthod: 'put' }
        params = {
          row_order_position: item.index()
        };
        $.ajax({
            url:      sort_url,
            type:     'put',
            dataType: 'json',
            data:     params
        });
    }
});

// 本を探すボタンの動作
$('#search_book_button').click(function() {
    $('#search_book_button, #show_shelf_side_ico').hide();
    $('.search_book_button, .scan_book_button').fadeIn(500);
});

// 本棚を整理ボタンの操作
// 本棚タイプの変更アイコンと本の削除や移動用のボタンを隠しておく
$('#show_shelf_side_ico').click(function() {
    $('#show_shelf_side_ico').hide();
    $('.book_type_icon, .shelf_side_ico').fadeIn(500);
});

    // 本を削除するボタン
<% @books.each do |book| %>
    $('#destroy_book_<%= book.id %>').click(function() {
        Swal.fire({
          title: '',
          text: "本を削除すると感想も削除されるよ。",
          type: 'question',
          showCancelButton: true,
          confirmButtonText: 'おっけー',
          cancelButtonText: 'やめる'
        }).then((result) => {
          if (result.value) {
            $.ajax({
                url:  "<%= book_path(book.id) %>",
                type: 'delete',
                data: { authenticity_token: $("#authenticity_token_destroy").val()
                    }
                });
          }
        });
    });
<% end %>
});
</script>

    <script type="text/javascript" src="/JOB.js"></script>
    <script type="text/javascript">
      // バーコードスキャン用ボタンをクリック
      function clickBarcodeScanButton() {
          $("#Take-Picture").click();
          return false;
      };
      var takePicture = document.querySelector("#Take-Picture"),
      showPicture = document.createElement("img");
      Result = document.querySelector("#textbit");
      sendBarcode = document.querySelector("#barcode");
      // sendBarcode.value = 'aaaaaaa'; // 表示確認
      var canvas =document.getElementById("picture");
      var ctx = canvas.getContext("2d");
      JOB.Init();
      JOB.SetImageCallback(function(result) {
        if(result.length > 0){
          var tempArray = [];
          for(var i = 0; i < result.length; i++) {
            // tempArray.push(result[i].Format+" : "+result[i].Value);
            tempArray.push(result[i].Value);
          }
          Result.innerHTML=tempArray.join("<br />");
          sendBarcode.value = tempArray;
        // 検索していることをアラートする
        Swal.fire({
            title: '',
            text: "本を探しているよ！",
            type: 'info',
            timer: 1500, // 1.5秒後に自動的にアラートを閉じる
            buttons: false,
        })

        // ajaxを記述
        $.ajax({
            url: "<%= books_search_from_barcode_path %>",
            type: 'post',
            data: { barcode: tempArray }
            });
        }else{
          if(result.length === 0) {
            Result.innerHTML="Decoding failed.";
          }
        }
      });
      JOB.PostOrientation = true;
      JOB.OrientationCallback = function(result) {
        // 表示画像のサイズ
        // canvas.width = result.width;
        // canvas.height = result.height;
        canvas.width = 0;
        canvas.height = 0;
        var data = ctx.getImageData(0,0,canvas.width,canvas.height);
        for(var i = 0; i < data.data.length; i++) {
          data.data[i] = result.data[i];
        }
        ctx.putImageData(data,0,0);
      };
      JOB.SwitchLocalizationFeedback(true);
      JOB.SetLocalizationCallback(function(result) {
        ctx.beginPath();
        ctx.lineWIdth = "2";
        ctx.strokeStyle="red";
        for(var i = 0; i < result.length; i++) {
          ctx.rect(result[i].x,result[i].y,result[i].width,result[i].height); 
        }
        ctx.stroke();
      });
      if(takePicture && showPicture) {
        takePicture.onchange = function (event) {
          var files = event.target.files;
          if (files && files.length > 0) {
            file = files[0];
            try {
              var URL = window.URL || window.webkitURL;
              showPicture.onload = function(event) {
                Result.innerHTML="";
                JOB.DecodeImage(showPicture);
                URL.revokeObjectURL(showPicture.src);
              };
              showPicture.src = URL.createObjectURL(file);
            }
            catch (e) {
              try {
                var fileReader = new FileReader();
                fileReader.onload = function (event) {
                  showPicture.onload = function(event) {
                    Result.innerHTML="";
                    JOB.DecodeImage(showPicture);
                  };
                  showPicture.src = event.target.result;
                };
                fileReader.readAsDataURL(file);
              }
              catch (e) {
                Result.innerHTML = "Neither createObjectURL or FileReader are supported";
              }
            }
          }
        };
      }
    </script>