<% if signed_in? && impression.likes.find_by(user_id: current_user.id).present? %>
<%# この行の記述がなぜだめなのかわからない %>   <%# if impression.already_like(current_user.id).present? %>
    <div class="like_area">
        <p class="heart like">
            <input type="hidden" name="heart" value="<%= impression.id %>" >
        </p>
        <span id="like_<%= impression.id %>" class="like_counter already_like"><%= impression.like_count %></span>
    </div>
<% else %>
    <p class="heart">
        <input type="hidden" name="heart" value="<%= impression.id %>" >
    </p>
    <span id="like_<%= impression.id %>" class="like_counter"><%= impression.like_count %></span>
<% end %>
