<script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
<%# 遅延読み込みのためのスクリプト %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/lazysizes.min.js' %>
<% if !signed_in? %>
<%= render "shared/sign_in_link" %>
<% end %>
<div class="home">
    <%= form_with(model: Like.new, url:likes_path) do |form| %>
    <input id="user_id" type="hidden" value="<% if signed_in? %><%= current_user.id %><% end %>">
    <% end %>
    <div class="jscroll">
        <% add_count = 0 %>
        <% @impressions.each do |impression| %>
        <div class="top_impression_block">
            <div class="top_impression_items">
                <% impression.id %>
                <a href="/users/<%= impression.user_id %>">
                    <%= lazysizes_image_tag impression.user.image, class: 'user_icon' %>
                </a>
                <div class="top_impression_and_book">
                    <a href="/impressions/<%= impression.book.impression_link %>" data-turbolinks="false" class="link_to_impression">
                        <div class="top_impression">
                            <p class="book_title">
                                <%= impression.book.title.truncate(20) %>
                            </p>
                            <p class="impression_body"><%= impression.impression.truncate(200) %></p>
                        </div>
                    </a>
                    <div>
                        <a href="/books/info/<%= impression.book.api_id %>" class="top_thumbnail">
                            <%= lazysizes_image_tag impression.book.thumbnail %>
                        </a>
                    </div>
                </div>
            </div>
            <% if impression.impression_img_url%>
            <div class="impression_img">
                <%= link_to impression.impression_img_url,'data-lightbox': impression.impression_img_url, target: "_blank" do %>
                <%= lazysizes_image_tag impression.impression_img_url %>
                <% end %>
            </div>
            <% end %>
            <div class="bottom_impression_block">
                <%# いいねボタン %>
                <%= render partial: "likes/like", locals: {impression: impression}%>
                <p class="score_area">
                    <span class="evaluation_score">
                        <% if impression.book.evaluation %>
                        <% impression.book.evaluation.times do %>
                        <%= lazysizes_image_tag "star-on.png", alt: "評価点数を表す星" %>
                        <% end %>
                        <% else %>
                        未評価
                        <% end %>
                    </span>
                </p>
                <p class="impression_time">
                    <%= impression.created_at.strftime('%Y/%-m/%-d %H:%M') %>
                </p>
            </div>
        </div>
        <% add_count += 1 %>
        <% if add_count == 3 %>
        <div class="advertise">
            <!-- トップページ上部 -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2474857545411323" data-ad-slot="3806181512" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <% end %>
        <% if add_count%20 == 0 %>
        <div class="advertise">
            <ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-h7-w-4-4n+i8" data-ad-client="ca-pub-2474857545411323" data-ad-slot="3066092712"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <% end %>
        <% end %>
        <%= paginate @impressions %>
    </div>

<iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=21&l=ur1&category=audible&banner=1M2B6BNH82V647H5A7R2&f=ifr&linkID=9ba7024a2426353d5eb38afc94c1f0d2&t=dokusyonowa-22&tracking_id=dokusyonowa-22" width="125" height="125" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
<!-- 横長広告 -->
<p>●広告</p>
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2474857545411323" data-ad-slot="3806181512" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
  <script>

    var jscrollOption = {

        loadingHtml: 'now loading',

        autoTrigger: true,

        padding: 20,

        nextSelector: 'span.next a',

        contentSelector: '.jscroll'

      }

      $('.jscroll').jscroll(jscrollOption);

  </script>
<%# jscrollより上に持ってくるとjscrollの邪魔をする %>
<%= javascript_pack_tag 'like', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'user', 'data-turbolinks-track': 'reload' %>

