<% if !signed_in? %>
    <%= render "shared/sign_in_link" %>
<% end %>
<div class="home">
    <div>
        <% @impressions.each do |impression| %>
        <div class="top_impression_block">
            <div class="top_impression_items">
                <% impression.id %>
                <a href="/users/<%= impression.user_id %>">
                    <%= image_tag impression.user.image, class: 'user_icon' %>
                </a>
                <div class="top_impression_and_book">
                    <a href="/impressions/<%= impression.book.impression_link %>" data-turbolinks="false">
                        <div class="top_impression">
                            <p class="book_title">
                                <%= impression.book.title.truncate(20) %>
                            </p>
                            <%= impression.impression.truncate(100) %>
                        </div>
                    </a>
                    <div>
                        <a href="/books/info/<%= impression.book.api_id %>" class="top_thumbnail">
                            <%= image_tag impression.book.thumbnail %>
                        </a>
                    </div>
                </div>
            </div>
            <% if impression.impression_img_url%>
                        <div class="impression_img">
                <%= link_to impression.impression_img_url,'data-lightbox': impression.impression_img_url, target: "_blank" do %>
                    <%= image_tag impression.impression_img_url %>
                <% end %>
                        </div>
            <% end %>
            <p class="impression_time"><%= impression.updated_at.strftime('%Y/%-m/%-d %T') %></p>
        </div>
        <% end %>
    </div>
    <div>
        <p>最近のオススメ書籍</p>
    </div>
    <div class="recomend">
        <a href="/books/info/4GqdwAEACAAJ" class="book_link">
            <p class="top_thumbnail"><img src="http://books.google.com/books/content?id=4GqdwAEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </p>
            <p class="title_top book_title">FACTFULNESS（ファクトフルネス）</p>
        </a>
    </div>
    <div class="recomend">
        <a href="/books/info/7V8XswEACAAJ" class="book_link">
            <p class="top_thumbnail"><img src="http://books.google.com/books/content?id=7V8XswEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </p>
            <p class="title_top book_title">完訳7つの習慣 人格主義の回復</p>
        </a>
    </div>
    <div class="recomend">
        <a href="/books/info/2PW9DwAAQBAJ" class="book_link">
            <p class="top_thumbnail"><img src="http://books.google.com/books/content?id=2PW9DwAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api">
            </p>
            <p class="title_top book_title">２０３０年の世界地図帳</p>
        </a>
    </div>
    <div class="recomend">
        <a href="/books/info/t369DwAAQBAJ" class="book_link">
            <p class="top_thumbnail"><img src="http://books.google.com/books/content?id=t369DwAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api">
            </p>
            <p class="title_top book_title">1兆ドルコーチ</p>
        </a>
    </div>
    <div class="recomend">
        <a href="/books/info/KZesyAEACAAJ" class="book_link">
            <p class="top_thumbnail"><img src="http://books.google.com/books/content?id=KZesyAEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </p>
            <p class="title_top book_title">こども六法</p>
        </a>
    </div>
    <div class="recomend">
        <a href="/books/info/qNMHnwEACAAJ" class="book_link">
            <p class="top_thumbnail"><img src="http://books.google.com/books/content?id=qNMHnwEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </p>
            <p class="title_top book_title">嫌われる勇気 : 自己啓発の源流「アドラー」の教え</p>
        </a>
    </div>
    <div class="recomend">
        <a href="/books/info/8Y1yjwEACAAJ" class="book_link">
            <p class="top_thumbnail"><img src="http://books.google.com/books/content?id=8Y1yjwEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </p>
            <p class="title_top book_title">人を動かす　文庫版</p>
        </a>
    </div>
    <div class="recomend">
        <a href="/books/info/2SdzBQAAQBAJ" class="book_link">
            <p class="top_thumbnail"><img src="http://books.google.com/books/content?id=2SdzBQAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api">
            </p>
            <p class="title_top book_title">星を継ぐもの</p>
        </a>
    </div>
    <div class="recomend">
        <a href="/books/info/_brNxwEACAAJ" class="book_link">
            <p class="top_thumbnail"><img src="http://books.google.com/books/content?id=_brNxwEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </p>
            <p class="title_top book_title">催眠ガール</p>
        </a>
    </div>
    <div class="recomend">
        <a href="/books/info/JQbNDwAAQBAJ" class="book_link">
            <p class="top_thumbnail"><img src="http://books.google.com/books/content?id=JQbNDwAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api">
            </p>
            <p class="title_top book_title">その日のまえに</p>
        </a>
    </div>
    <div class="recomend">
        <a href="/books/info/l7-1ngEACAAJ" class="book_link">
            <p class="top_thumbnail"><img src="http://books.google.com/books/content?id=l7-1ngEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </p>
            <p class="title_top book_title">三日間の幸福</p>
        </a>
    </div>
    <div class="recomend">
        <a href="/books/info/13gDwgEACAAJ" class="book_link">
            <p class="top_thumbnail"><img src="http://books.google.com/books/content?id=13gDwgEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </p>
            <p class="title_top book_title">鬼滅の刃</p>
        </a>
    </div>
      <%#= render "shared/affiliate" %>
</div>