<div class="home">
    <div class="home_header">
        <div class="user_icon">
            <% if @user.image %>
            <%= link_to image_tag(@user.image, alt:'ユーザーアイコン'), "/users/#{@user.id}" %>
            <% else %>
            <%= link_to(image_tag('person_default.svg', alt:'ユーザーアイコン'), "/users/#{@user.id}") %>
            <% end %>
        </div>
        <div class="user_name">
            <p>
                <%= @user.name %>
            </p>
        </div>
        <div class="attention">
            <%= link_to(image_tag('bell.svg', alt:'お知らせ'),notice_path) %>
        </div>
    </div>
    <div>
        <% @vals.each do |val| %>
        <a href="/impressions/<%= val.impression_link %>"><p><%= val.impression %></p></a>
        <% end %>
    </div>
    <div>
        <p>最近のオススメ書籍</p>
    </div>

    <div class="recomend">
        <a href="/books/info/4GqdwAEACAAJ" class="book_link">
            <p class="thumbnail_top"><img src="http://books.google.com/books/content?id=4GqdwAEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </p>
            <p class="title_top">FACTFULNESS（ファクトフルネス）</p>
        </a>
    </div>


    <div class="recomend">
        <a href="/books/info/7V8XswEACAAJ" class="book_link">
            <p class="thumbnail_top"><img src="http://books.google.com/books/content?id=7V8XswEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </p>
            <p class="title_top">完訳7つの習慣 人格主義の回復</p>
        </a>
    </div>

    <div class="recomend">
        <a href="/books/info/2PW9DwAAQBAJ" class="book_link">
            <p class="thumbnail_top"><img src="http://books.google.com/books/content?id=2PW9DwAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api">
            </p>
            <p class="title_top">２０３０年の世界地図帳</p>
        </a>
    </div>


    <div class="recomend">
        <a href="/books/info/t369DwAAQBAJ" class="book_link">
            <p class="thumbnail_top"><img src="http://books.google.com/books/content?id=t369DwAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api">
            </p>
            <p class="title_top">1兆ドルコーチ</p>
        </a>
    </div>


    <div class="recomend">
        <a href="/books/info/KZesyAEACAAJ" class="book_link">
            <p class="thumbnail_top"><img src="http://books.google.com/books/content?id=KZesyAEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </p>
            <p class="title_top">こども六法</p>
        </a>
    </div>

    <div class="recomend">
        <a href="/books/info/978-4478025819" class="book_link">
            <p class="thumbnail_top"><img src="https://cover.openbd.jp/9784478025819.jpg">
            </p>
            <p class="title_top">嫌われる勇気 : 自己啓発の源流「アドラー」の教え</p>
        </a>
    </div>

    <div class="recomend">
        <a href="/books/info/8Y1yjwEACAAJ" class="book_link">
            <p class="thumbnail_top"><img src="http://books.google.com/books/content?id=8Y1yjwEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </p>
            <p class="title_top">人を動かす　文庫版</p>
        </a>
    </div>

    <div class="recomend">
        <a href="/books/info/2SdzBQAAQBAJ" class="book_link">
            <p class="thumbnail_top"><img src="http://books.google.com/books/content?id=2SdzBQAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api">
            </p>
            <p class="title_top">星を継ぐもの</p>
        </a>
    </div>

    <div class="recomend">
        <a href="/books/info/_brNxwEACAAJ" class="book_link">
            <p class="thumbnail_top"><img src="http://books.google.com/books/content?id=_brNxwEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </p>
            <p class="title_top">催眠ガール</p>
        </a>
    </div>

    <div class="recomend">
        <a href="/books/info/JQbNDwAAQBAJ" class="book_link">
            <p class="thumbnail_top"><img src="http://books.google.com/books/content?id=JQbNDwAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api">
            </p>
            <p class="title_top">その日のまえに</p>
        </a>
    </div>

    <div class="recomend">
        <a href="/books/info/l7-1ngEACAAJ" class="book_link">
            <p class="thumbnail_top"><img src="http://books.google.com/books/content?id=l7-1ngEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </p>
            <p class="title_top">三日間の幸福</p>
        </a>
    </div>

    <div class="recomend">
        <a href="/books/info/13gDwgEACAAJ" class="book_link">
            <p class="thumbnail_top"><img src="http://books.google.com/books/content?id=13gDwgEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api">
            </p>
            <p class="title_top">鬼滅の刃</p>
        </a>
    </div>






</div>