<div class="home">
    <div class="home_header">
        <div class="user_icon">
            <%= link_to(image_tag('person_default.svg', alt:'ユーザーアイコン'), "/users/#{current_user.id}") %>
        </div>
        <div class="user_name">
            <p>
                <%= @user.account_name %>
            </p>
        </div>
        <div class="attention">
            <%= link_to(image_tag('bell.svg', alt:'お知らせ'),notice_path) %>
        </div>
    </div>
    <div>
        <% @vals.each do |val| %>
        <a href="/impression/<%= val.impression_link %>"><p><%= val.impression %></p></a>
        <% end %>
    </div>
    <div>
        <p>最近のオススメ書籍</p>
    </div>

    <div class="recomend">
        <a href="/books/info/978-4822289607" class="book_link">
            <p class="thumbnail_top"><img src="https://cover.openbd.jp/9784822289607.jpg">
            </p>
            <p class="title_top">FACTFULNESS（ファクトフルネス）</p>
        </a>
    </div>


    <div class="recomend">
        <a href="/books/info/978-4863940246" class="book_link">
            <p class="thumbnail_top"><img src="https://cover.openbd.jp/9784863940246.jpg">
            </p>
            <p class="title_top">完訳7つの習慣 人格主義の回復</p>
        </a>
    </div>


    <div class="recomend">
        <a href="/books/info/978-4797399950" class="book_link">
            <p class="thumbnail_top"><img src="https://cover.openbd.jp/9784797399950.jpg">
            </p>
            <p class="title_top">２０３０年の世界地図帳</p>
        </a>
    </div>


    <div class="recomend">
        <a href="/books/info/978-4478107249" class="book_link">
            <p class="thumbnail_top"><img src="https://cover.openbd.jp/978-4478107249.jpg">
            </p>
            <p class="title_top">1兆ドルコーチ</p>
        </a>
    </div>


    <div class="recomend">
        <a href="/books/info/978-4335357923" class="book_link">
            <p class="thumbnail_top"><img src="https://cover.openbd.jp/9784335357923.jpg">
            </p>
            <p class="title_top">こども六法</p>
        </a>
    </div>

    <div class="recomend">
        <a href="/books/info/978-4478025819" class="book_link">
            <p class="thumbnail_top"><img src="https://cover.openbd.jp/9784478025819.jpg">
            </p>
            <p class="title_top">嫌われる勇気 : 自己啓発の源流「アドラー」の教え</p>
        </a>
    </div>

    <div class="recomend">
        <a href="/books/info/978-4422100982" class="book_link">
            <p class="thumbnail_top"><img src="https://cover.openbd.jp/9784422100982.jpg">
            </p>
            <p class="title_top">人を動かす　文庫版</p>
        </a>
    </div>

    <div class="recomend">
        <a href="/books/info/978-4488663018" class="book_link">
            <p class="thumbnail_top"><img src="https://cover.openbd.jp/9784488663018.jpg">
            </p>
            <p class="title_top">星を継ぐもの</p>
        </a>
    </div>

    <div class="recomend">
        <a href="/books/info/978-4860294878" class="book_link">
            <p class="thumbnail_top"><img src="https://cover.openbd.jp/9784860294878.jpg">
            </p>
            <p class="title_top">催眠ガール</p>
        </a>
    </div>

    <div class="recomend">
        <a href="/books/info/978-4167669072" class="book_link">
            <p class="thumbnail_top"><img src="https://cover.openbd.jp/9784167669072.jpg">
            </p>
            <p class="title_top">その日のまえに</p>
        </a>
    </div>

    <div class="recomend">
        <a href="/books/info/978-4048661690" class="book_link">
            <p class="thumbnail_top"><img src="https://cover.openbd.jp/9784048661690.jpg">
            </p>
            <p class="title_top">三日間の幸福</p>
        </a>
    </div>

    <div class="recomend">
        <a href="/books/info/978-4087034851" class="book_link">
            <p class="thumbnail_top"><img src="https://cover.openbd.jp/9784087034851.jpg">
            </p>
            <p class="title_top"></p>
        </a>
    </div>






</div>