<div class="item_block">
    <p class="sub_title" id="sub_title" value="aaaaaaa">ユーザー設定</p>
</div>
<div class="item_block">
    <%= link_to('プロフィールの編集') %>
</div>
<div class="item_block">
    <p class="sub_title">公開情報設定</p>
    <table class="sub_item">
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <th>
                感想
                    <%= form_with(model:Setting, url: user_publish_impression_path) do |f|%>
            </th>
            <td>
                <div class="app_checkbox">
                    <%= f.check_box :publish_impression, checked: @user_setting.publish_impression, id:'impression',name: 'publish_impression' %>
                    <%#= f.label value:'impression' %>
                    <label for="impression" id="publish_impression"></label>
                    <%= f.hidden_field :publish_impression, id:'publish_impression_value', value: @user_setting.publish_impression %>
                    <% end %>
                </div>
            </td>
        </tr>
    </table>


</div>
<div class="item_block">
    <p class="sub_title">読書履歴</p>
</div>
<div class="item_block">
    <p class="sub_title">
        <%= link_to('ご意見・ご要望', request_path) %>
    </p>
</div>
<div class="item_block">
</div>
<div class="item_block">
    <p class="sub_title">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </p>
</div>

