<div class="item_block">
    <%= link_to '●プロフィールの編集', "/users/#{current_user.id}/edit" %>
</div>
<div class="item_block">
    <p class="sub_title">●公開情報設定</p>
</div>
    <table class="sub_item">
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <th>
                感想を公開する
            </th>
            <td>
                <div class="app_checkbox">
                    <%= form_with(model:Setting, url: users_publish_impression_path) do |f|%>
                        <input type="hidden" id="authenticity_token_publish_impression" name="authenticity_token" value="<%= form_authenticity_token %>" >

                        <%= f.check_box :publish_impression, checked: @user_setting.publish_impression, id:'impression',name: 'publish_impression' %>
                        <label for="impression" id="publish_impression"></label>
                        <%= f.hidden_field :publish_impression, id:'publish_impression_value', value: @user_setting.publish_impression %>
                    <% end %>
                </div>
            </td>
        </tr>
    </table>
<!-- <div class="item_block">
    <p class="sub_title">読書履歴</p>
</div> -->
<div class="item_block">
    <p class="sub_title">
        <%= link_to('●ご意見・ご要望はこちら', contacts_path) %>
    </p>
</div>
<div class="item_block">
    <p class="sub_title">
    <%= link_to "●利用規約", users_terms_of_service_path %>&nbsp;&nbsp;
    </p>
    <p class="sub_title">
    <%= link_to "●プライバシーポリシー", users_privacy_policy_path %>&nbsp;&nbsp;
    </p>
    <p class="sub_title">
    <%= link_to "●リリースノート", users_release_note_path %>&nbsp;&nbsp;
    </p>
    <p class="sub_title">
     <%= link_to "●ログアウト", destroy_user_session_path, method: :delete %>
    </p>
    <p class="sub_title">
        <span class="delete_user_button" id="delete_user">●退会します。</span>
    </p>
</div>
<div class="balloon5">
    <div class="faceicon">
        <%= image_tag "administrator.png", class: "user_icon" %>
    </div>
    <a href="https://twitter.com/paoDokushonowa" target="_blank">
        <div class="chatting">
            <div class="says">
                このアプリを訪れていただきありがとうございます！<br>
                皆様のご意見をもとに改良していきます！<br>
                ぜひコメントお願いいたします！<br>
                この吹き出しから管理者のツイッターアカウントもご覧いただけると嬉しいです！
            </div>
        </div>
    </a>
</div>
<script>
$('#impression').change(function() {
    var prop = $('#impression').prop('checked');
    $.post({
        url: "<%= users_publish_impression_path %>",
        data: { publish_impression: prop,
               authenticity_token: $("#authenticity_token_publish_impression").val()
              }
    });
});
// 退会ボタンをクリック
$('#delete_user').click(function() {
    Swal.fire({
      title: '',
      text: "退会しますか？",
      type: 'question',
      showCancelButton: true,
      confirmButtonText: 'グッバイ！',
      cancelButtonText: 'やめる'
    }).then((result) => {
      if (result.value) {
        $.ajax({
            url: "<%= user_registration_path %>",
            type: 'delete'
            });
      }
    });
});

</script>
