<%= link_to "本を探す", books_show_form_path, remote: true %>
<div class="page_wrapper">
    <%= @err %>
    <div id="search_book_form"></div>
    <% if @books.present? %>
        <% @books.each do |shelf| %>
            <div class="book_img_box">
                <a href="/impressions/<%= shelf.impression_link %>" >
                    <p class="thumbnail_top">
                        <%= image_tag shelf.thumbnail %>
                    </p>
                </a>
                <div class="book_title" id="title_<%= shelf.id %>"><%= shelf.title %></div>
                <input id="api_path_<%= shelf.id %>" type="hidden" name="api_path" value="<%= shelf.api_path %>" />
            </div>
        <% end %>
    <% else %>
        <p>本が登録されていません。</p>
    <% end %>
</div>


