<%= link_to "本を探す", book_show_form_path, remote: true %>
<div class="page_wrapper">
    <%= @err %>
    <div id="search_book_form"></div>
    <% if @books.present? %>
        <% @books.each do |shelf| %>
            <div class="book_img_box">
                <a href="/impression/<%= shelf.impression_link %>" >
                    <p id="thumbnail_<%= shelf.id %>" class="thumbnail_top"></p>
                </a>
                <div id="title_<%= shelf.id %>"></div>
                <input id="isbn_<%= shelf.id %>" type="hidden" name="isbn" value="<%= shelf.isbn %>" />
                <script>
                $(document).on('turbolinks:load', function() {
                    const isbn = $("#isbn_<%= shelf.id %>").val();
                    const url = "https://api.openbd.jp/v1/get?isbn=" + isbn;
                    $.getJSON(url, function(data) {
                        if (data[0] == null) {
                        } else {
                            if (data[0].summary.cover == "") {
                                $("#thumbnail_<%= shelf.id %>").html('<img src=\"/assets/book_img\" />');
                            } else {
                                $("#thumbnail_<%= shelf.id %>").html('<img src=\"' + data[0].summary.cover + '\" style=\"height: 100px;\" />');
                            }
                            $("#title_<%= shelf.id %>").text(data[0].summary.title);
                        }
                    });
                });
                </script>
            </div>
        <% end %>
    <% else %>
        <p>本が登録されていません。</p>
    <% end %>
</div>


