<div id="search_book_button" class="search_book_button">
    <%= link_to "本を探す", books_show_form_path, remote: true, class: " submit_btn_small"  %>
</div>
<div class="page_wrapper">
    <%= @err %>
    <div id="search_book_form"></div>
    <% if @books.present? %>
        <% @books.each do |book| %>
            <div class="book_img_box">
                <a href="/books/info/<%= book.api_id %>" data-turbolinks="false">
                    <p class="thumbnail_top">
                        <% if book.users_thumbnail.present? %>
                        <%= image_tag book.users_thumbnail_url ,class: "book_img shelf_book", alt:'本の画像' %>
                        <% else %>
                        <%= image_tag book.thumbnail ,class: "book_img shelf_book", alt:'本の画像' %>
                        <% end %>
                    </p>
                </a>
                <a href="/impressions/<%= book.impression_link %>" class="shelf_link" data-turbolinks="false">
                    <div class="book_title" id="title_<%= book.id %>">
                        <%= book.title %>
                        <div class="book_count_info">
                            <% if book %>
                            <% end %>
                            <p class="book_count">
                                <%= image_tag "star-on.png" %>
                                <% if book.evaluation %>
                                    <%= book.evaluation %>
                                <% else %>
                                -
                                <% end %>
                            </p>
                            <% if book %>
                            <p class="book_count">
                                <%#= image_tag "impression.svg", class: "book_counter_icon" %>
                                
                            </p>
                            <p class="book_count">
                                <%#= image_tag "Twitter_icon_circle.svg", class: "book_counter_icon" %>
                                
                            </p>
                            <% end %>
                        </div>
                    </div>
                </a>
                <input id="api_path_<%= book.id %>" type="hidden" name="api_path" value="<%= book.api_path %>" />
                <div class="book_destroy">
                <%= form_with(model: @book, url: book_path(book.id)) do |form| %>
                    <input type="hidden" id="authenticity_token_destroy" name="authenticity_token" value="<%= form_authenticity_token %>" >
                    <%= image_tag "fire_work.svg", class: "fire_work", id: "destroy_book_#{book.id}" %>
                <% end %>
                </div>
            </div>
        <% end %>
    <% else %>
    <p>本が登録されていません。</p>
    <% end %>
</div>

<script>
    <% @books.each do |book| %>

        // 本を削除する
        $('#destroy_book_<%= book.id %>').click(function() {
            Swal.fire({
              title: '',
              text: "本を削除すると感想も削除されるよ。",
              type: 'question',
              showCancelButton: true,
              confirmButtonText: 'おっけー',
              cancelButtonText: 'やめる'
            }).then((result) => {
              if (result.value) {
                $.ajax({
                    url:  "<%= book_path(book.id) %>",
                    type: 'delete',
                    data: { authenticity_token: $("#authenticity_token_destroy").val()
                        }
                    });
              }
            });
        });
    <% end %>






</script>

