<%= link_to "本を探す", book_search_path, remote: true %>
<div id="book_form"></div>
<%= form_with(url:"/users/update_self_introduction") do |form| %>
    <div class="page_wrapper">
        <div>
            <%= form.text_field :book_keyword %>
        </div>

    </button>
<% end %>        <div class="book_img_box">
            <%= link_to image_tag('book_img.svg', class:'book_img'), impression_path %>
            <div class="book_title">本のタイトル</div>
        </div>
        <div class="book_img_box">
            <%= image_tag('book_img.svg', class:'book_img') %>
            <div class="book_title">本のタイトル</div>
        </div>
    </div>
