<div class="page_wrapper">
    <div class="home_header">
        <div class="user_icon">
            <%#= link_to(image_tag('person_default.svg', alt:'ユーザーアイコン'), current_user) %>
        </div>
        <div class="user_name">
            <p>ユーザー名：<%= @user.account_name %></p>
            <p>twitter_account</p>
        </div>
        <button>
            <%= link_to '編集', edit_user_path, class:'button' %>
        </button>
            <%= link_to '読書履歴', readinghistory_path %>
    </div>
    <div>
        <p>
            自己紹介
            <%= @user.self_introduction %>
            
        </p>
    </div>
    <p>●最近読んだ本</p>
    <div class="recent_reading_book">
        <div class="book_img_box">
            <%= link_to(image_tag('book_img.svg', class:'book_img'), bookinfo_path) %>
            <div class="book_title">
                <%= link_to '本のタイトル', bookinfo_path %>
            </div>
        </div>
        <p class="impression">
            <%= link_to('感想の一部いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい', impression_path) %>
        </p>
    </div>
</div>
