<% if !signed_in? %>
    <%= render "shared/sign_in_link" %>
<% end %>
<% if !signed_in? || @book_owner.id != current_user.id %>
    <div class="book_owner_info">
        <p class="book_owner_name">
            <%= image_tag @book_owner.image, class: 'user_icon', alt:'ユーザーアイコン' %>
            <p><%= @book_owner.name %></p>
        </p>
        <div class="twitter_account_link">
            <a href="<%= @book_owner.twitter_link %>" class="twitter_button" target="_brank">
                <%= image_tag "twitter_icon.png" %>
            </a>
        </div>
    </div>
<% end %>
<div class="page_wrapper">
    <% if current_user %>
        <%#= link_to '読書履歴', readinghistory_path %>
    <% end %>
    <div class="self_introduction_area">
        <p>
            <% if @book_owner.self_introduction.present? %>
                <%= @book_owner.self_introduction %>
            <% elsif @book_owner == current_user %>
                よろしくお願いします！
            <% end %>
        </p>
        <% if signed_in? && @book_owner.id === current_user.id %>
            <button>
                <%= link_to '編集', edit_user_path, class:'submit_btn_small' %>
            </button>
        <% end %>
    </div>
    <p>
        ●最近読んだ本
    </p>
    <div class="recent_reading_book">
        <% @books.each do |book| %>
        <div class="book_img_box">
            <a href="/books/info/<%= book.api_id %>">
                <% if image_tag book.thumbnail %>
                    <%= image_tag book.thumbnail , class:'book_img book_img_area'%>
                <% else %>
                    <%= link_to(image_tag('book_img.svg', class:'book_img book_img_area'), book_path) %>
                <% end %>
            </a>
            <div class="book_title">
                <a href="/impressions/<%= book.impression_link %>" data-turbolinks="false" class="book_title book_link" ><%= book.title.truncate(30) %></a>
            <% if book.evaluation %>
                <%= image_tag 'star-on.png' %>
                <%= book.evaluation %>
            <% else %>
                未評価
            <% end %>
            </div>
        </div>
        <div class="book_impression_box">
            <a href="/impressions/<%= book.impression_link %>" data-turbolinks="false">
                <% book.impressions.each do |impression| %>
                    <p class="impression">
                        <%= impression.impression.truncate(50) %>
                    </p>
                    <p class="impression_time"><%= impression.updated_at.strftime('%Y/%-m/%-d %H:%M') %></p>
                <% end %>
            </a>
        </div>
        <% end %>

    </div>
</div>
