<p class="title">ご意見・ご要望</p>
<div class="contact_area">
    <%= form_with(model:Contact.new, url: contacts_path) do |f| %>
        <p><%= f.label :お問合せ種別（必須） %></p>
        <div class="cp_ipselect cp_sl01">
            <%= f.select :contact_type, Contact.contact_types.keys %>
        </div>
        <p><%= f.label :タイトル（必須） %></p>
        <p><%= f.text_field :contact_title, class: 'input_area' %></p>
        <p><%= f.label :問合せ内容（必須） %></p>
        <p><%= f.text_area :inquiry, class: 'input_area',  rows: 10 %></p>
        <p><%= f.hidden_field :user_id, value: current_user.id %></p>
        <p><%= f.submit '送信する', class: 'submit_btn_small' %></p>
    <% end %>
</div>

<div class="previous_contact">
    <p class="title">過去のお問い合わせ</p>
    <% if @contacts %>
        <% @contacts.each do |contact| %>
            <div class="balloon5">
                <div class="faceicon">
                    <%= image_tag contact.user.image, class: "user_icon" %>
                </div>
                <div class="chatting">
                    <div class="says">
                        <p>●<%= contact.contact_type %></p>
                        <p>●<%= contact.contact_title %></p>
                        <p><%= contact.inquiry %></p>
                    </div>
                </div>
            </div>
            <p class="impression_time">
                <%= contact.created_at.strftime('%Y/%-m/%-d %T') %>
            </p>
            <div class="reply">
                <div class="balloon5">
                    <div class="chatting">
                        <div class="says_admin">
                        <% if contact.response %>
                            <p><%= contact.response %></p>
                        <% else %>
                            <p>お問い合わせありがとうございます。管理者から回答させていただきますので、今しばらくお待ちくださいませ。</p>
                        <% end %>
                        <% if current_user.admin_flg === true %>
                            <%= form_with(model:contact, url: contact_path(contact.id)) do |f| %>
                            <%= f.text_area :response, class: 'input_area', rows: 5 %>
                            <%= f.submit '回答する', class: 'submit_btn_small' %>
                            <% end %>
                        <% end %>
                        </div>
                    </div>
                </div>
                    <div class="faceicon_admin">
                        <%= image_tag "administrator.png", class: "user_icon" %>
                    </div>
            </div>
            <p class="impression_time">
                <%= contact.updated_at.strftime('%Y/%-m/%-d %T') %>
            </p>

        <% end %>
    <% end %>
</div>