リクエスト
<%= form_with(model:Contact.new, url: contacts_path) do |f| %>
    <%= f.select :contact_type, Contact.contact_types.keys %>
    <%= f.label :タイトル %>
    <%= f.text_field :contact_title %>
    <%= f.label :問合わせ内容 %>
    <%= f.text_area :inquiry %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit '送信する' %>
<% end %>


<p>過去のお問い合わせ</p>
<% if @contacts %>
    <% @contacts.each do |contact| %>
        <p>問合せ種別</p>
            <%= contact.contact_type %>
        <p>タイトル</p>
            <%= contact.contact_title %>
        <p>問合せ内容</p>
            <%= contact.inquiry %>
        <p>問合せ日時</p>
            <%= contact.created_at %>
        <p>管理者からの回答</p>
        <% if contact.response %>
            <p><%= contact.response %></p>
        <% else %>
            <p>お問い合わせありがとうございます。管理者から回答させていただきますので、今しばらくお待ちくださいませ。</p>
            <%= contact.updated_at %>
        <% end %>
        <% if current_user.admin_flg === true %>
            <button>回答する</button>

        <% end %>
    <% end %>
<% end %>