<p>検索条件</p>
<% @results["items"].each do |result| %>
    <p><%= result["volumeInfo"]["title"] %></p>
    <p><%= result["volumeInfo"]['authors'] %></p>
    <div class="book_img_box">
        <a href="/books/info/978-4822289607" >
            <p id="thumbnail" class="thumbnail_top">
                <% if result["volumeInfo"]['imageLinks']['thumbnail'].present? %>
                    <img src="<%= result["volumeInfo"]['imageLinks']['thumbnail'] %>">
                <% end %>
            </p>
        </a>
        <p>
            <%= form_with model: Book.new, url: books_path do |f| %>
            <%= f.hidden_field :api_path, value: result['selfLink'] %>
            <%= f.hidden_field :api_id, value: result['id'] %>
            <%= f.submit '本棚に入れる', class: 'submit_btn_small' %>
            <% end %>
        </p>
    </div>
<% end %>
