<%= form_with(model: @user, url:"/user/add_book") do |f| %>
    <%= f.hidden_field :api_path %>
    <%= f.hidden_field :h_title %>
    <%= f.hidden_field :h_thumbnail %>
    <button class="submit_btn_small">本棚に入れる</button>
<% end %>
<%# 本の情報を取得するapi_pathをセット %>
    <input class="api_path" type="hidden" name="api_path" value="<%= params[:api_path] %>" >
<table class=book_detail>
    <tr>
        <th width="20%"></th>
        <td id="thumbnail"></td>
    </tr>
    <tr>
        <th>書籍名：</th>
        <td><p id="title" type="text" disabled="disabled" name="title"></p></td>
    </tr>
    <tr>
        <th>出版社：</th>
        <td><p id="publisher" type="text" name="publisher"></p></td>
    </tr>
    <tr>
        <th>巻：</th>
        <td><p id="volume" type="text" name="volume"></p></td>
    </tr>
    <tr>
        <th>シリーズ：</th>
        <td><p id="series" type="text" name="series"></p></td>
    </tr>
    <tr>
        <th>著者：</th>
        <td><p id="author" type="text" name="author"></p></td>
    </tr>
    <tr>
        <th>出版日：</th>
        <td><p id="pubdate" type="text" name="pubdate"></p></td>
    </tr>
    <tr>
        <th>詳細：</th>
        <td><p id="description" type="text" name="description"></p></td>
    </tr>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/ja.js"></script>
<script>
$(document).on('turbolinks:load', function() {
    const url = $(".isbn").val();
    const url = "<%= shelf.api_path %>";
    $.getJSON(url, function(data) {
            if (data.volumeInfo.imageLinks.thumbnail == "") {
                $("#thumbnail_<%= shelf.id %>").html('<img src=\"/assets/book_img\" />');
            } else {
                $("#thumbnail_<%= shelf.id %>").html('<img src=\"' + data.volumeInfo.imageLinks.thumbnail + '\" style=\"height: 100px;\" />');
            }
            $("#title_<%= shelf.id %>").text(data.volumeInfo.title);
                });
});
</script>
