<%= form_with(model: @user, url:"/user/add_book") do |f| %>
    <%= f.hidden_field :isbn %>
    <%= f.hidden_field :h_title %>
    <%= f.hidden_field :h_thumbnail %>
    <button>本棚に入れる</button>
<% end %>
<%# 本の情報を取得するisbnをセット %>
    <input class="isbn" type="hidden" name="isbn" value="<%= params[:isbn] %>" >
<table class=book_detail>
    <tr>
        <th width="20%"></th>
        <td id="thumbnail"></td>
    </tr>
    <tr>
        <th>書籍名：</th>
        <td><p id="title" type="text" disabled="disabled" name="title"></p></td>
    </tr>
    <tr>
        <th>出版社：</th>
        <td><p id="publisher" type="text" name="publisher"></p></td>
    </tr>
    <tr>
        <th>巻：</th>
        <td><p id="volume" type="text" name="volume"></p></td>
    </tr>
    <tr>
        <th>シリーズ：</th>
        <td><p id="series" type="text" name="series"></p></td>
    </tr>
    <tr>
        <th>著者：</th>
        <td><p id="author" type="text" name="author"></p></td>
    </tr>
    <tr>
        <th>出版日：</th>
        <td><p id="pubdate" type="text" name="pubdate"></p></td>
    </tr>
    <tr>
        <th>詳細：</th>
        <td><p id="description" type="text" name="description"></p></td>
    </tr>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/ja.js"></script>
<script>
$(document).on('turbolinks:load', function() {
    const isbn = $(".isbn").val();
    const url = "https://api.openbd.jp/v1/get?isbn=" + isbn;
    $.getJSON(url, function(data) {
        if (data[0] == null) {
        } else {
            if (data[0].summary.cover == "") {
                $("#thumbnail").html('<img src=\"\" />');
            } else {
                $("#thumbnail").html('<img src=\"' + data[0].summary.cover + '\" style=\"border:solid 1px #000000\" />');
            }
            $("#title").text(data[0].summary.title);
            $("#book_title").val(data[0].summary.title);
            $("#isbn").val(data[0].summary.isbn);
            $("#publisher").text(data[0].summary.publisher);
            $("#volume").text(data[0].summary.volume);
            $("#series").text(data[0].summary.series);
            $("#author").text(data[0].summary.author);
            // 日付のフォーマットを調整
            var date = moment(data[0].summary.pubdate, "YYYY-MM-DD");
            var formatedDate = date.format('YYYY年MM月DD日');
            console.log(date);
            $("#pubdate").text(formatedDate);
            $("#cover").val(data[0].summary.cover);
            $("#description").text(data[0].onix.CollateralDetail.TextContent[0].Text);
            // データ登録用のデータをセット
            $("#isbn").val(data[0].summary.isbn);
            $("#h_title").val(data[0].summary.title);
            $("#h_thumbnail").val(data[0].summary.thumbnail);
        }
    });
});
</script>
