<%= form_with(model: Book.new, url: books_path) do |f| %>
    <%= f.hidden_field :api_path, value: @book['selfLink'] %>
    <%= f.hidden_field :api_id, value: @book['id'] %>
    <%= f.hidden_field :title, value: @book['volumeInfo']['title'] %>
    <%= f.hidden_field :author, value: @book["volumeInfo"]['authors'] %>
    <% if @book["volumeInfo"]['imageLinks'] %>
        <%= f.hidden_field :thmumbnail, value: @book["volumeInfo"]['imageLinks']['thumbnail'] %>
    <% end %>
    <% if signed_in? && !@user_book %>
    <p class="into_shelf_button">
        <button class="submit_btn_small">本棚に入れる</button>
    </p>
    <% elsif !signed_in? %>
        <%= render "shared/sign_in_link" %>
    <% end %>
<% end %>
<%# 本の情報を取得するapi_pathをセット %>
<input class="api_path" type="hidden" name="api_path" value="<%= params[:api_path] %>">
<table class=book_detail>
    <tr>
        <th width="20%"></th>
        <td id="thumbnail">
        <% if @book["volumeInfo"]['imageLinks'] %>
            <%= image_tag @book['volumeInfo']['imageLinks']['thumbnail'] %>
        <% else %>
            <img src="/assets/book_img.svg" alt="本の画像">
        <% end %>

        </td>
    </tr>
    <tr>
        <th></th>
        <th align="left" valign="top">
            <% if @amazon_afi_link.present? %>
                <a href="<%= @amazon_afi_link %>" target="_blank">
                    <button class="submit_btn_small">詳細を見る</button>
                </a>
            <% end %>
        </th>
    </tr>
    <tr>
        <th align="right" valign="top">書籍名：</th>
        <td>
            <p id="title" type="text" disabled="disabled" name="title">
                <%= @book["volumeInfo"]["title"] %>
            </p>
        </td>
    </tr>
    <tr>
        <th align="right" valign="top">著者：</th>
        <td>
            <p id="author" type="text" name="author">
                <% if @book['volumeInfo']['authors'] %>
                <% @book["volumeInfo"]['authors'].each do |author| %>
                <%= author %>
                <% end %>
                <% end %>
            </p>
        </td>
    </tr>
    <tr>
        <th align="right" valign="top">出版日：</th>
        <td>
            <p id="pubdate" type="text" name="pubdate">
                <%= @book["volumeInfo"]["publishedDate"] %>
            </p>
        </td>
    </tr>
    <% if @book["volumeInfo"]["description"].present? %>
    <tr>
        <th align="right" valign="top">詳細：</th>
        <td>
            <p id="description" type="text" name="description">
                <%= @book["volumeInfo"]["description"].truncate(150) %>
            </p>
        </td>
    </tr>
    <% end %>
</table>
<p>●投稿された感想</p>
<% if @impressions.present? %>
    <% @impressions.each do |impression| %>
        <div class="top_impression_block">
            <div class="top_impression_items">
                <% impression.id %>
                <a href="/users/<%= impression.user_id %>">
                    <%= image_tag impression.user.image, class: 'user_icon' %>
                </a>
                <div class="top_impression_and_book">
                    <a href="/impressions/<%= impression.book.impression_link %>" data-turbolinks="false" class="link_to_impression">
                        <div class="top_impression">
                            <%= impression.impression.truncate(100) %>
                        </div>
                    </a>
                </div>
            </div>
            <% if impression.impression_img_url%>
                        <div class="impression_img">
                <%= link_to impression.impression_img_url,'data-lightbox': impression.impression_img_url, target: "_blank" do %>
                    <%= image_tag impression.impression_img_url %>
                <% end %>
                        </div>
            <% end %>
            <div class="bottom_impression_block">
                <p>
                    <span class="evaluation_score">
                        <% if impression.book.evaluation %>
                            <% impression.book.evaluation.times do %>
                                <%= image_tag "star-on.png", alt: "評価点数を表す星" %>
                            <% end %>
                        <% else %>
                            未評価
                        <% end %>
                    </span>
                </p>
                <p class="impression_time"><%= impression.updated_at.strftime('%Y/%-m/%-d %H:%M') %></p>
            </div>
        </div>
    <% end %>
<% else %>
<p>投稿はまだありません。</p>
<% end %>
<%# 広告始め %>
<p>●広告</p>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-hg-j+z-41+9z"
     data-ad-client="ca-pub-2474857545411323"
     data-ad-slot="9651305066"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script><%# 広告おわり %>
