<div class="balloon5">
    <div class="faceicon">
        <%= image_tag "administrator.png", class: "user_icon" %>
    </div>
    <div class="chatting">
        <div class="says">
            ツイッターアカウントでログインをお願いします🙇
        </div>
    </div>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="logo_top"></div>
    <div class="sns_login_button">
        <%#= link_to "Twitterアカウントでログイン", user_twitter_omniauth_authorize_path, class: 'twitter_button' %>
    </div>
    <%= link_to user_twitter_omniauth_authorize_path, method: :post do %>
        <%= image_tag "sign_in_button.png", class: "sign_in" %>
    <% end %>
<% end %>
<div class="important_info">
    <%= link_to "利用規約", users_terms_of_service_path %>&nbsp;&nbsp;
    <%= link_to "プライバシーポリシー", users_privacy_policy_path %>&nbsp;&nbsp;
    <%= link_to "投稿を見てみる", root_path %>&nbsp;&nbsp;

</div>
