<!DOCTYPE html>
<html>
  <head>
    <title>読書のわ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%# レスポンシブ対応 %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%# SweatAlert2の読み込み %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <%# ファビコン %>
    <%= favicon_link_tag('favicon.png') %>
    <%# スマホ用アイコン %>
    <%= favicon_link_tag('favicon.png',
                     {:rel => 'apple-touch-icon',
                      :sizes => '180x180',
                      :type => 'image/png'}) %>
    <%# Twitterカード %>
    <% if @h %>
      <% twitter_card = get_twitter_card_info(@h) %>
      <meta name="twitter:card" content=<%=twitter_card[:card]%> />
      <meta property="og:url" content=<%=twitter_card[:url]%> />
      <meta property="og:title" content=<%=twitter_card[:title]%> />
      <meta property="og:description" content=<%=twitter_card[:description]%> />
      <meta property="og:image" content=<%=twitter_card[:image]%> />
    <% end %>

  </head>

  <body>
    <div class="main_container">
      <div class="sub_container">
          <%= yield %>
      </div>
    </div>
    <% if signed_in? %>
      <%= render "shared/footer" %>
    <% end %>
  </body>
</html>
 